
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap');
/* font-family: 'Crimson Text', serif; */


li{
   list-style-type: none;
}

.text-change{
    font-family: 'Crimson Text', serif;
    font-weight: 600;
}

.search-field{
    height: 40px ;
    width: 200px;
    padding: 0 10px;
    background-color: #ffffff;
    border: none;
    margin-right: 25px;
}

.search-field::placeholder{
    font-size: 18px;
    font-weight: 400;
}
 
.search-item{
    position: relative;
}

.search-btn{
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 25px;
}

.pera{
    font-family: 'Crimson Text', serif;
    font-weight: 400; 
}
.pera-1{
    font-family: 'Crimson Text', serif;
    font-weight: 400; 
}

.icon{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: rgb(0, 0, 0);
    
}
.icon-1{
    font-size: 20px;
    color:#ffffff;
    background-color: rgb(8, 8, 8);
    border-radius: 50px;
    margin-left: 13px;
    margin-top: 10px;
}
.icon-2{
    font-size: 20px;
    color:#ffffff;
    background-color: rgb(8, 8, 8);
    border-radius: 50px;
    margin-left: 10px;
    margin-top: 10px;
}
.icon-3{
    font-size: 20px;
    color:#ffffff;
    background-color: rgb(8, 8, 8);
    border-radius: 50px;
    margin-left: 12px;
    margin-top: 10px;
}
.icon-4{
    font-size: 20px;
    color:#ffffff;
    background-color: rgb(8, 8, 8);
    border-radius: 50px;
    margin-left: 8px;
    margin-top: 10px;
}
.icon-5{
    font-size: 20px;
    color:#ffffff;
    background-color: rgb(8, 8, 8);
    border-radius: 50px;
    margin-left: 13px;
    margin-top: 10px;
}
.icon-6{
    font-size: 20px;
    color:#ffffff;
    background-color: rgb(8, 8, 8);
    border-radius: 50px;
    margin-left: 13px;
    margin-top: 10px;
}
.icon-7{
    font-size: 20px;
    color:#ffffff;
    background-color: rgb(8, 8, 8);
    border-radius: 50px;
    margin-left: 12px;
    margin-top: 10px;
}
.icon-8{
    font-size: 20px;
    color:#ffffff;
    background-color: rgb(8, 8, 8);
    border-radius: 50px;
    margin-left: 9px;
    margin-top: 10px;
}
