
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap');
/* font-family: 'Crimson Text', serif; */


li{
   list-style-type: none;
}

.text-change{
    font-family: 'Crimson Text', serif;
    font-weight: 600;
}

.search-field{
    height: 40px ;
    width: 200px;
    padding: 0 10px;
    background-color: #ffffff;
    border: none;
    margin-right: 25px;
}

.search-field::placeholder{
    font-size: 18px;
    font-weight: 400;
}
 
.search-item{
    position: relative;
}

.search-btn{
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 25px;
}

.pera{
    font-family: 'Crimson Text', serif;
    font-weight: 400; 
}
.pera-1{
    font-family: 'Crimson Text', serif;
    font-weight: 400; 
}

/* ================================================ */
.container-hover{
    position: relative;
    overflow: hidden;
}

.card1-div2{
    height: 100%; 
    width: 100%; 
    background-color: rgba(245, 245, 245,0.6);
    z-index: 555;
    color: #ffffff;
    position: absolute;
    transition: 0.4s ;
    cursor: pointer;
}
.card1-div2 {
    display: flex;
    justify-content: end;
    align-items: start;
}
.container-hover:hover .card1-div2{
   top: 0;
}

/* =================================================== */
.container-hover{
    position: relative;
    overflow: hidden;
}

.card-1-div2-1{
    display: none;
}

.card-1-div2 a{
    text-decoration: none;
    color:#939493;
}
 


.card-1-div2{
    width: 100%; 
    background-color: rgba(245, 245, 245,0.8);
    z-index: 555;
    font-weight: 600;
    color: #212721;
    text-align: center;
    position: absolute;
    top: 83%;
    transition: 0.4s;
    cursor: pointer;
}
.card-1-div2-2{
    width: 100%;
}
.card-1-div2-1 h5, .card-1-div2-1 p{
    font-size: 12px;
    font-weight: 700;
}

.text{
    font-size: 11px;
    line-height: 0px;
}
.text2{
    color: #212721;
    font-weight: 700;
}

.container-hover:hover .card-1-div2{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.container-hover:hover .card-1-div2-1{
    display: block;
    
}

.container-hover:hover .hover-pic{
    display: none;

}


/* ==================================================== */



.icon{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}
.icon-1{
    font-size: 20px;
    color:#ffffff;
    background-color: rgb(8, 8, 8);
    border-radius: 50px;
    margin-left: 13px;
    margin-top: 10px;
}
.icon-2{
    font-size: 20px;
    color:#ffffff;
    background-color: rgb(8, 8, 8);
    border-radius: 50px;
    margin-left: 10px;
    margin-top: 10px;
}
.icon-3{
    font-size: 20px;
    color:#ffffff;
    background-color: rgb(8, 8, 8);
    border-radius: 50px;
    margin-left: 12px;
    margin-top: 10px;
}
.icon-4{
    font-size: 20px;
    color:#ffffff;
    background-color: rgb(8, 8, 8);
    border-radius: 50px;
    margin-left: 8px;
    margin-top: 10px;
}
.icon-5{
    font-size: 20px;
    color:#ffffff;
    background-color: rgb(8, 8, 8);
    border-radius: 50px;
    margin-left: 13px;
    margin-top: 10px;
}
.icon-6{
    font-size: 20px;
    color:#ffffff;
    background-color: rgb(8, 8, 8);
    border-radius: 50px;
    margin-left: 13px;
    margin-top: 10px;
}
.icon-7{
    font-size: 20px;
    color:#ffffff;
    background-color: rgb(8, 8, 8);
    border-radius: 50px;
    margin-left: 12px;
    margin-top: 10px;
}
.icon-8{
    font-size: 20px;
    color:#ffffff;
    background-color: rgb(8, 8, 8);
    border-radius: 50px;
    margin-left: 9px;
    margin-top: 10px;
}

